

<div id="page" class="container-fluid   ">

    <div class="loginpanel">
        <div class="container">
            <br>
            <br>
            <h1>Modalidad Interacción Social</h1>
            <h3>Los requisitos</h3>
            <p>1. El estudiante debe tener aprobado el 75% de la totalidad de los créditos de su plan
                de estudios, incluidos los de formación humanística y competencias básicas. </p>
            <p>2. El estudiante debe estar legalmente matriculado en el periodo académico cuando
                realiza la propuesta.</p>
            <p>3. El estudiante debe cancelar los derechos correspondientes a la inscripción del
                Trabajo de Grado. </p>
            <p>4. El estudiante debe contar con el apoyo de un docente en el rol de asesor</p>
            <br>
            <br>
            <h3>Los proyectos que están incluidos en esta modalidad son:</h3>
            <p>1. Proyecto de Pasantía</p>
            <p>2. Proyecto de Aplicación </p>
            <p>&nbsp;&nbsp;&nbsp;a. Proyecto de Desarrollo de Software
            </p>
            <p>&nbsp;&nbsp;&nbsp;b. Proyecto de Intervención </p>
            <br>
            <br>
            <h3>Para la aprobación:</h3>
            <p>1. El Comité Curricular designa dos jurados revisores mediante Acuerdo, para que se
                encarguen de analizar y avalar la propuesta de trabajo de grado. Los jurados
                revisores se seleccionan teniendo en cuenta el objeto de estudio de la propuesta.</p>
            <p>2. La Secretaría del Departamento envía la propuesta de trabajo de grado a los dos
                jurados revisores asignados.</p>
            <p>3. Los jurados revisores tendrán un término no mayor a cinco (5) días hábiles para
                analizar la propuesta de trabajo de grado y presentar al estudiante las
                observaciones, sugerencias y correcciones que dieran lugar a ser atendidas, para
                lo cual los estudiantes tienen un plazo máximo de quince (15) días hábiles para
                hacer los cambios pertinentes. Se permiten solo dos iteraciones de ajustes, para
                ello los estudiantes cuentan con el apoyo del director para la culminación exitosa
                de este proceso.</p>
            <p>4. Los ajustes realizados por los estudiantes, deben ser refrendados por el asesor
                del trabajo de grado y enviados a los revisores con copia al correo electrónico del
                Departamento de Sistemas. </p>
            <p>5. Una vez terminado el proceso de revisión, los estudiantes deben enviar al Comité
                Curricular a través del correo electrónico, la versión final de la propuesta de
                trabajo de grado, junto con el aval refrendado por los dos jurados revisores.</p>
            <p>6. El Comité Curricular, mediante Acuerdo de aprobación da inicio formal al
                desarrollo del proyecto</p>

        </div>   
        <div class="btn-whatsapp">
            <a class="btn btn-primary active" href="https://api.whatsapp.com/send?phone=573148837271" target="_blank">…</a>
        </div>
</div>                                
         





    