<div class="container">
    <div class="row">
      <div class="col">
                
        <div class="card">
            <div class="card-header">
            Estudiantes
            </div>
            <div class="card-body">
                <h5 class="card-title">Como Estudiante</h5>
                <p class="card-text">Pudes registrate como estudiante siempre y cuando decees precentar una tesis de grado.</p>
                <a routerLink="/est/nuevo" class="btn btn-primary">Registra como Estudiante</a>
            </div>
        </div>

      </div>
      <div class="col">
        
        <div class="card">
            <div class="card-header">
            Docentes
            </div>
            <div class="card-body">
                <h5 class="card-title">Como Docente</h5>
                <p class="card-text">Como docente podras participar como jurado o asesor de algun proyecto de grado.</p>
                <a routerLink="/doc/nuevo" class="btn btn-primary">Registra como Docente</a>
            </div>
        </div>

      </div>
      <div class="col">
       
        <div class="card">
            <div class="card-header">
            Administrativo
            </div>
            <div class="card-body">
                <h5 class="card-title">Como Administrativo</h5>
                <p class="card-text">Solo pudes registrate como administrativo si eres un funcionario de la UDENAR.</p>
                <a routerLink="/admin/nuevo" class="btn btn-primary">Registra como Administrativo</a>
            </div>
        </div>

      </div>
    </div>
</div>



  