<form (ngSubmit)="login()">
    <div class="form-group">
        <label for="username">Usuario</label>           
        <input type="number" 
            name="userename"
            [(ngModel)]="id"
            id="userced" 
            size="20" 
            autocomplete="username" 
            required>
        
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" 
            name="password" 
            [(ngModel)]="password"
            id="password" 
            size="20" 
            autocomplete="current-password" 
            required>

    </div>
    <button class="btn btn-danger" >Entrar</button>
</form>

<button class="btn btn-success" routerLink="/registro">Registrarce</button>
